<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pgso.Properties.Settings.strCon" connectionString="Data Source=172.17.16.13;Initial Catalog=BRIS;Persist Security Info=True;User ID=nvsuojt;Password=ojt_nvsu00!;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>